.colored-block {
    width: 100%;
    color: #fff;
    background: #37745B;
}

.required .form-label:after {
    content: " *";
    color: var(--bs-danger);
}

/* reduce leaflet-controls z-index by one, such that bootstrap-dropdowns are still above */
.leaflet-top,
.leaflet-bottom {
    z-index: 999 !important;
}

.vh-90 {
    height: 90vh;
}

.container iframe,
.container object,
.container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: inset(1px 1px);
}