{% extends "bootstrap/base.html" %}
{% block title %}PfadiTag {{ title }}{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{url_for('.static', filename='pfaditag.css')}}">
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('index')}}">PfadiTag</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% if request.endpoint=='index' %}active{%endif %}"><a href="{{url_for('index')}}">Home</a>
                </li>
                <li class="{% if request.endpoint=='groups' %}active{%endif %}"><a
                        href="{{url_for('groups')}}">Gruppen</a></li>
                <li class="{% if request.endpoint=='events' %}active{%endif %}"><a
                        href="{{url_for('events')}}">Events</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                <li><a href="../navbar-static-top/">Static top</a></li>
                <li><a href="../navbar-fixed-top/">Fixed top</a></li> -->
            </ul>
        </div>
    </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container">
    {% for category, message in messages %}
    <div class="alert alert-{{ category if category in ['success', 'danger', 'warning', 'info', 'light', 'dark', 'secondary'] else 'info'  }}"
        role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endblock %}
