<!doctype html>
<html lang="de" class="h-100">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" media="(prefers-color-scheme: light)">
    <link rel="icon" href="{{ url_for('static', filename='favicon-dark.ico') }}" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="385x385" href="{{ url_for('static', filename='logo-pfaditag-pad.png') }}" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" sizes="385x385" href="{{ url_for('static', filename='logo-pfaditag-pad-dark.png') }}" media="(prefers-color-scheme: dark)">
    {% block styles %}
    <link rel="stylesheet" href="{{url_for('.static', filename='pfaditag.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-5.3.0-dist/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('.static', filename='fontawesome-free-6.4.0-web/css/all.min.css')}}" />
    <link rel="stylesheet"
        href="{{url_for('.static', filename='DataTables-1.13.4/css/dataTables.bootstrap5.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('.static', filename='gijgo@1.9.14/css/gijgo.min.css')}}" />
    {% endblock %}

    <title>{% block title %}{{ config['APP_TITLE'] }}{{ " | "+title if title else "" }}{% endblock %}</title>
    {% endblock %}
</head>

<body class="d-flex flex-column h-100">
    <!-- The Navigation -->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('public.index')}}">
                <img src="{{url_for('.static', filename='logo-pfaditag.png')}}" alt="Logo" height="60"
                    class="d-inline-block">
                PfadiTag
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link {% if request.endpoint=='public.index' %}active{%endif %}"
                            aria-current="page" href="{{url_for('public.index')}}">Start</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.endpoint=='public.events' %}active{%endif %}"
                            href="{{url_for('public.events')}}">Aktionen</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.endpoint=='public.faq' %}active{%endif %}"
                            href="{{url_for('public.faq')}}">Fragen & Antworten</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {% if current_user.is_authenticated %}
                            {{ current_user.name }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                            <h6 class="dropdown-header">Accouts &amp; Gliederungen</h6>
                            <li><a class="dropdown-item" href="{{url_for('auth.users')}}"><i
                                        class="fa-solid fa-users"></i> Übersicht Accounts</a></li>
                            <li><a class="dropdown-item" href="{{url_for('admin.groups')}}"><i
                                        class="fa-solid fa-group-arrows-rotate"></i> Übersicht Gliederungen</a></li>
                            <div class="dropdown-divider"></div>
                            {% for group in current_user.groups %}
                            <h6 class="dropdown-header">{{ group }}</h6>
                            <li><a class="dropdown-item"
                                    href="{{url_for('admin.events_edit', _id='new', group_id=group.id)}}"><i
                                        class="fa-solid fa-plus"></i> Neue Aktion</a></li>
                            {% for event in group.events %}
                            <li><a class="dropdown-item" href="{{url_for('admin.events_edit', _id=event.id)}}"><i
                                        class="fa-solid fa-calendar-day"></i> Aktion '{{ event.title }}' bearbeiten</a>
                            </li>
                            {% endfor %}
                            {% if group.children %}
                            <li><a class="dropdown-item" href="{{url_for('admin.groups', group_id=group.id)}}"><i
                                        class="fa-solid fa-group-arrows-rotate"></i> Untergliederungen anzeigen</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{url_for('admin.group_edit', group_id=group.id)}}"><i
                                        class="fa-solid fa-pen-to-square"></i> Gliederung bearbeiten</a></li>
                            <div class="dropdown-divider"></div>
                            {% endfor %}
                            <li><a class="dropdown-item" href="{{url_for('public.faq_intern')}}"><i
                                        class="fa-solid fa-clipboard-question"></i> FAQ (intern)</a></li>
                            <li><a class="dropdown-item"
                                    href="{{url_for('auth.edit_user', user_id=current_user.id)}}"><i
                                        class="fa-solid fa-user"></i> Account bearbeiten</a></li>
                            <li><a class="dropdown-item" href="{{url_for('auth.logout')}}"><i
                                        class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
                        </ul>
                        {% else %}
                        Account
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{url_for('auth.login')}}"><i
                                        class="fa-solid fa-arrow-right-to-bracket"></i> Login</a></li>
                            <li><a class="dropdown-item" href="{{url_for('auth.new_user')}}"><i
                                        class="fa-solid fa-address-card"></i> Registrieren</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="{{url_for('public.faq_intern')}}"><i
                                        class="fa-solid fa-clipboard-question"></i> FAQ (intern)</a></li>
                        </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    <main class="flex-shrink-0">

        {% block opener %}
        {% endblock %}

        <div class="container my-5">

            {% block messages %}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category if category in ['success', 'danger', 'warning', 'info', 'light', 'dark', 'secondary'] else 'info'  }}"
                role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% endblock %}

            <!-- Your page content -->
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {% block footer %}
    <footer class="footer mt-auto bg-light">
        {% block closer %}
        {% endblock %}

        <div class="container py-3">
            <div class="row my-3 align-items-center h-100">
                <div class="col-sm py-2">
                    <span>&copy; PfadiTag</span>
                </div>
                <div class="col-sm py-2">
                    <a href="{{url_for('public.impressum')}}">Impressum</a><br>
                    <a href="{{url_for('public.datenschutz')}}">Datenschutzerklärung</a>
                </div>
                <div class="col-sm py-2">
                    <div class="container">
                        <a href="https://www.pfadfinden.de" target="_blank">
                            <img src="{{url_for('.static', filename='BdP/BdP_Wort-Bildmarke_1c_V1-crop.svg')}}"
                                class="img-fluid" style="max-height: 64px;">
                        </a>
                    </div>
                </div>
                <div class="col-sm py-2">
                    <div class="container">
                        <a href="https://www.vcp.de" target="_blank">
                            <img src="{{url_for('.static', filename='VCP/VCP-WBM_Schwarz_RGB-crop.svg')}}"
                                class="img-fluid" style="max-height: 64px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    <!-- Optional JavaScript -->
    {% block scripts %}
    <script src="{{url_for('.static', filename='bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('.static', filename='jquery-3.7.0.min.js')}}"></script>
    <script src="{{url_for('.static', filename='gijgo@1.9.14/js/gijgo.min.js')}}"></script>
    <script src="{{url_for('.static', filename='DataTables-1.13.4/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('.static', filename='DataTables-1.13.4/js/dataTables.bootstrap5.min.js')}}"></script>
    <script>
        // confirm deletion
        $('#delete').on('click', function () { return confirm('Bist du sicher, dass du das löschen möchtest?'); });
    </script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                "language": {
                    "search": "Suchen: ",
                    "zeroRecords": "Keine Ergebnisse gefunden",
                    "info": "_TOTAL_ Einträge",
                    "infoEmpty": "Keine Daten vorhanden",
                    "infoFiltered": "(aus _MAX_ Einträgen)",
                    "lengthMenu": "_MENU_ Einträge",
                    "paginate": {
                        "first": "Erste",
                        "last": "Letzte",
                        "previous": "Vorherige",
                        "next": "Nächste"
                    }
                },
                "order": []
            });
        });
    </script>
    <script>
        function initGroupTree(treeData) {
            // build tree
            tree = $('#group_tree').tree({
                uiLibrary: 'bootstrap5',
                dataSource: treeData,
                cascadeSelection: false,
                border: true,
                primaryKey: 'id',
                selectionType: 'single',
                select: function (e, node, id) {
                    $('#group_id').val(id);
                }
            });

            // apply selection from group_id field to tree
            group_node = tree.getNodeById($('#group_id').val());
            tree.select(group_node);

            // expand nodes in tree
            node = group_node.parent();
            do {
                tree.expand(node);
                node = node.parent();
            }
            while (node[0].id != "group_tree");

            // disable tree if group_id is disabled
            if ($('#group_id')[0].disabled) {
                tree.disableAll();
            }
        }
    </script>
    {% endblock %}
</body>

</html>