{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.76.0/dist/L.Control.Locate.min.css" />
<link rel="stylesheet" href="{{url_for('.static', filename='leaflet-vector-markers.css')}}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.76.0/dist/L.Control.Locate.min.js"
    charset="utf-8"></script>
<script src="{{url_for('.static', filename='leaflet-vector-markers.min.js')}}"
    charset="utf-8"></script>
{% endblock %}
