{% extends "base.html" %}

{% block content %}
<h1>Übersicht Aktionen</h1>

<table>
    <tr>
        <th>Titel</th>
        <th>Stamm</th>
        <th>Ort</th>
        <th>Land</th>
        <th>E-Mail</th>
        <th>Optionen</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{ event.title }}</td>
        <td>{{ event.group.name }}</td>
        <td>{{ event.group.city }}</td>
        <td>{{ event.group.land.name }}</td>
        <td><a href="mailto:{{ event.email }}">{{ event.email }}</a></td>
        <td><a href="{{ url_for('events_edit', _id=event.id) }}"><i class="fa-solid fa-pen-to-square"></i></a></td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="{{ url_for('events_edit', _id='_new') }}"><i class="fa-solid fa-plus"></i></a></td>
    </tr>

</table>


{% endblock %}
