<div><b>Beginn: </b>{{ event.date.strftime('%A, %d.%m.%Y') }}, {{event.time.strftime('%H:%M')}} Uhr</div>
<div><b>Ende: </b>{{ event.date_end.strftime('%A, %d.%m.%Y') }}, {{event.time_end.strftime('%H:%M')}} Uhr</div>
<div>
{% for p in event.description.split('\n') %}
    <p>{{p}}</p>
{% endfor %}
</div>
{% if event.email %}
<div><b>E-Mail: </b><a href='mailto:{{ event.email }}'>{{ event.email }}</a></div>
{% endif %}
{% if event.tel %}
<div><b>Telefon: </b><a href='tel:{{ event.tel.replace(" ", "") }}' target='_blank'>{{ event.tel }}</a></div>
{% endif %}
{% if event.group.website %}
<div><b>Website: </b><a href='{{ event.group.website }}' target='_blank'>{{ event.group.website }}</a></div>
{% endif %}
{% if event.group.instagram %}
<div><b>Instagram: </b><a href='{{ event.group.instagram }}' target='_blank'>{{ event.group.instagram }}</a></div>
{% endif %}
{% if event.group.facebook %}
<div><b>Facebook: </b><a href='{{ event.group.facebook }}' target='_blank'>{{ event.group.facebook }}</a></div>
{% endif %}
{% if event.lat and event.lon %}
<div><b>Navigation: </b>
    <a href='http://maps.apple.com/?q={{ event.title }}&ll={{ event.lat }},{{ event.lon }}' target='_blank'>Apple Karten</a> |
    <a href='https://maps.google.com/maps?q={{ event.lat }},{{ event.lon }}' target='_blank'>Google Maps</a> |
    <a href='https://bing.com/maps/default.aspx?ss={{ event.lat }},{{ event.lon }}' target='_blank'>Bing Maps</a>
    </div>
{% endif %}
{% include 'buttons/event_buttons.j2' %}
