{% extends "base_leaflet.html" %}

{% block styles %}
{{ super() }}
<style>
    #map {
        min-height: 400px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6 first-column">
        <h1>
            {{ event.title }}
        </h1>
        <h3>Stamm {{ event.group.name }}, {{ event.group.city }}</h3>

        {% include 'event_details.html' %}
    </div>
    <div class="col-sm-6 second-column">
        <div class="my-3 h-100">
            <div id="map" class="h-100"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    // initialize map
    var map = L.map('map')
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/light-v10',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiaG9lY2hzdCIsImEiOiJjazVueDhyMWkwenpuM2RydzltNjhraDAzIn0.HntghYG9IBZvVd0bUJEY9Q'
    }).addTo(map);
    var locator = L.control.locate({ locateOptions: { maxZoom: 9 } }).addTo(map);

    var eventStyle = L.VectorMarkers.icon({ icon: 'circle', markerColor: 'var(--primary-color)'});
    var marker = L.marker([{{ event.lat }}, {{ event.lon }}], { icon: eventStyle }).addTo(map);
    map.setView([{{ event.lat }}, {{ event.lon }}], 13);
</script>
{% endblock %}
