{% extends "base_leaflet.html" %}

{% block content %}

<div class="container-fluid flex-fill">

<h1>{{ title }}</h1>

<h2 class="my-4">Für Eltern und Interessierte</h2>

<div class="accordion my-3">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-public-0">
            Was ist der PfadiTag?
            </button>
        </h2>
        <div id="faq-public-0" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p>Der PfadiTag ist eine Aktion, bei dem Pfadfindergruppen aus ihren Heimen, Hinterhöfen und Zeltlagern heraustreten und <b>der Welt zeigen, was Pfadfinder*innen eigentlich machen</b>.</p>
                <p>Die einzelnen Gruppen vor Ort (auch Stämme genannt) bieten Aktionen an, bei denen Kinder & Jugendliche Pfadfinden kennen lernen können und mitmachen können. Die Aktionen sind von den Stämmen organisiert und werden hier auf der Aktionswebsite gesammelt dargestellt.</p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-public-1">
            Wie kann ich mich zu einer Aktion anmelden?
            </button>
        </h2>
        <div id="faq-public-1" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p>Wenn du eine Aktion in deiner Nähe gefunden hast, bei der du mitmachen möchtest, findest du neben der Beschreibung auch Kontaktdaten. Am besten du <b>rufst bei der angegebenen Telefonnummer</b> an und sagst gleich bescheid, dass du bzw. dein Kind bei der Aktion mitmachen möchten. Alternativ kannst du auch eine E-Mail schreiben. </p>
                <p>Wichtig: Du brauchst dich nicht hier auf der Seite zu registrieren, das ist nur für die Gruppen, die Aktionen anbieten nötig.</p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-public-2">
            Es wird keine Aktion in meiner Nähe angezeigt, kann ich trotzdem Pfadfinder*in werden?
            </button>
        </h2>
        <div id="faq-public-2" class="accordion-collapse collapse">
            <div class="accordion-body">
            <p>Klar! Leider bieten nicht alle Gruppen beim PfadiTag eine Aktion an. Der PfadiTag ist vom Verband Christlicher Pfadfinderinnen und Pfadfinder (VCP) organisiert und wir bieten auf unserer Website eine <a href="https://www.vcp.de/kontakt/staemme-vor-ort/" target="_blank">Suche nach Pfadfindergruppen in der Nähe</a> an, über die du vielleicht eine Gruppe findest.</p>
            <p><a href="https://www.vcp.de/kontakt/staemme-vor-ort/" class="btn btn-primary text-white">Gruppe finden</a></p>
            <p>Falls du hier noch nicht fündig geworden bist, kannst du es auch bei den anderen Verbänden im Ring deutscher Pfadfinder*innenverbände versuchen: 
                <ul>
                    <li><a href="https://www.pfadfinden.de/kontakt/gruppen-vor-ort/" target="_blank">Bund der Pfadfinderinnen und Pfadfinder</a></li>
                    <li><a href="https://dpsg.de/de/stammessuche-20" target="_blank">Deutsche Pfadfinderschaft Sankt Georg</a></li>
                    <li>Bund Muslimischer Pfadfinderinnen und Pfadfinder Deutschland, Kontakt per Mail: <a href="mailto:vorstand@moslemische-pfadfinder.de">
        vorstand@moslemische-pfadfinder.de</a></li>
                </ul>
            </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-public-3">
            Was kostet Pfadfinden?
            </button>
        </h2>
        <div id="faq-public-3" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p>Die Aktionen beim PfadiTag sind <b>kostenlos</b>. Und auch die Gruppenstunden kosten nicht, denn unsere <b>Arbeit vor Ort wird durch ehrenamtliche Pfadfinder*innen getragen</b>, die häufig als Kinder selbst auch Pfadfinder*innen waren.</p>
                <p>Der Verband Christlicher Pfadfinderinnen und Pfadfinder (VCP) ist ein gemeinnütziger eingetragener Verein (e.V.) und kümmert sich als Dachverband um Organisation, politische und kirchliche Vertretung, Ausbildung von Mitarbeitenden und vieles mehr. Unsere <b>Mitglieder*innen sind daher im VCP angemeldet</b>, der Jahresbeitrag kostet 64€ pro Jahr (zzgl. eines kleinen Anteils für das VCP Land). Es gibt außerdem einen Familenbeitrag und einen Sozialbeitrag.</p>
                <p>Früher oder später geht es dann auch auf Lager & Fahrten, für die natürlich separate Lagerbeiträge fällig werden. Da diese Veranstaltung überwiegend ehrenamtlich organisiert sind, sind die <b>Kosten aber häufig viel niedriger als bei vergleichbaren kommerziellen Anbietern</b> von Jugendfreizeiten.</p>
                
            </div>
        </div>
    </div>

</div>

<div class="accordion my-5">
   Du planst eine Aktion oder dein Stamm hat Fragen? <a href="{{ url_for('public.faq_intern') }}">Hier entlang!</a>
</div>

</div>

{% endblock %}

{% block closer %}
<section class="footer colored-block py-3">
    <div class="container h-100" id="closer">
        <div class="row align-items-center h-100">
            <div class="col-sm mx-auto">
                <div class="container">
                    <h1>Noch Fragen?</h1>
                    <p class="text-center lead">... dann schreib uns!</p>
                </div>
            </div>
            <div class="col-sm mx-auto">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Hallo Liebe Pfadfinder, ..." disabled>
                <div class="input-group-append">
                    <a class="btn btn-secondary text-white" href="mailto:hallo@pfaditag.de?subject=%5BPfadiTag%202023%5D%20Fragen&body=Hallo%20Liebe%20Pfadfinder%2C%0D%0A%0D%0A">E-Mail schreiben</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
