{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row header">
        <div class="col-xs-12">
            <h1>
                {% if form.name.data %}
                Gruppe bearbeiten
                {% else %}
                Neue Gruppe anlegen
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 first-column">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}
