{% extends "base_leaflet.html" %}

{% block content %}

<h1>Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>Verband Christlicher Pfadfinderinnen und Pfadfinder (VCP) e.V.<br />
Wichernweg 3<br />
34121 Kassel</p>

<p>Vereinsregister: 5169<br />
Registergericht: Kassel</p>

<p><strong>Vertreten durch:</strong><br />
Leah Albrecht<br />
Peter &bdquo;flip&ldquo; Keil<br />
Eric Stahlmann <br />
Daniel Werner</p>

<h2>Kontakt</h2>
<p>Telefon: 0561-78437-0<br />
Telefax: 0561-78437-40<br />
E-Mail: info@vcp.de</p>

<h2>Redaktionell verantwortlich</h2>
<p>Jonas Höchst<br />
Kilian Frank<br />
Melissa Weber</p>

<p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>

{% endblock %}
