{% extends "base_leaflet.html" %}

{% block styles %}
{{ super() }}
<style>
    #map {
        height: 1000px;
    }
</style>
{% endblock %}

{% block opener %}
<section class="colored-block primary py-5" style="background-image: url('static/hero-2-bg.png'); background-repeat: no-repeat; background-position: right;">
    <div class="container h-100" id="opener">
        <div class="row align-items-center h-100">
            <div class="col-sm-6 mx-auto">
                <div class="container">
                    <h1 class="display-4">{{ config['APP_TITLE'] }}</h1>
                    <h2>... auf ins Abenteuer!</h2>
                    <p class="lead">23. - 25. September 2022</p>
                    <a class="btn btn-light" href="#intro">Pfadfinder*innen?</a>
                </div>
            </div>
            <div class="col-sm-6 mx-auto">
                <img src="static/heldin.png" class="img-fluid">
            </div>
        </div>
        <div class="container p-3">
            <p class="text-center lead">
            Beim PfadiTag öffnen die Pfadfinderstämme des Verbandes Christlicher Pfadfinderinnen und Pfadfinder ihre Türen und laden Kinder & Jugendliche ein Pfadfinden auszuprobieren!
            </p>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<div id="intro" class="container py-5">
    <div class="row align-items-center h-100">
        <div class="col-sm-4 p-0">
            <h1 class="text-break">Pfadfinder*innen?</h1>
            <p>Draußen sein, gemeinsam kochen, am Feuer sitzen, unter Sternen einschlafen – das ist Pfadfinden.</p>
        </div>
        <div class="col-sm-8 p-0">
            <div class="ratio ratio-16x9 pr-0">
                <iframe src="https://www.youtube.com/embed/tiSduOOPS-c" title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>


<div id="events" class="container p-0">
    <h1 class="py-3">Aktionen zum Mitmachen</h1>
    <div id="map" class="my-3"></div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var map = L.map('map').setView([50.9, 10.5], 7);
    var locator = L.control.locate({ locateOptions: { maxZoom: 11 } }).addTo(map);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/light-v10',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiaG9lY2hzdCIsImEiOiJjazVueDhyMWkwenpuM2RydzltNjhraDAzIn0.HntghYG9IBZvVd0bUJEY9Q'
    }).addTo(map);

    var eventStyle = L.VectorMarkers.icon({ icon: 'circle', markerColor: 'var(--primary-color)'});
    var groupStyle = L.VectorMarkers.icon({ icon: 'circle', markerColor: 'var(--secondary-color)'});

    // create marker for every event
    {% for event in events %}
    var marker_event_{{ event.id }} = L.marker([{{ event.lat }}, {{ event.lon }}], { icon: eventStyle }).addTo(map);
    marker_event_{{ event.id }}.bindPopup(`
<h4>{{ event.title }}</h4>
<h6>Stamm {{ event.group.short_name }}</h6>
{% include 'event_details.html' %}
`);
    {% endfor %}
</script>
{% endblock %}
