{% extends "base_leaflet.j2" %}

{% block opener %}
<section class="colored-block p-5">
    <div class="container h-100" id="opener">
        <div class="row align-items-center h-100">
            <div class="col-sm-6 mx-auto">
                <div class="container">
                    <h1 class="display-4">{{ config['APP_TITLE'] }}</h1>
                    <h2>... auf ins Abenteuer!</h2>
                    <p class="lead">19. - 21. September 2025</p>
                    <a class="btn btn-secondary" href="#trailer">Pfadfinder*innen?</a>
                </div>
            </div>
            <div class="col-sm-6 mx-auto">
                <img src="static/heldin-yellow.png" class="img-fluid">
            </div>
        </div>
        <div class="container p-3">
            <p class="text-center lead">
                Beim PfadiTag öffnen Pfadfinderstämme ihre Türen und laden Kinder & Jugendliche ein Pfadfinden
                auszuprobieren!
            </p>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<div id="trailer" class="container p-3">
    <div class="row align-items-center h-100">
        <div class="col-sm-4 p-3">
            <h1 class="text-break">Pfadfinder*innen?</h1>
            <p>Draußen sein, gemeinsam kochen, am Feuer sitzen, unter Sternen einschlafen – das ist Pfadfinden.</p>
            <a class="btn btn-primary text-white" href="#detail">PfadiTag 2025</a>
        </div>
        <div class="col-sm-8 p-3">
            <div class="container ratio ratio-16x9">
                <iframe src="https://www.youtube-nocookie.com/embed/tiSduOOPS-c" title="Pfadfinden - Mehr als eine Bewegung"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div id="detail" class="container p-3">
    <div class="row align-items-center h-100">
        <div class="col-sm-8 p-3">
            <p>Mehr Eigenverantwortung und Selbstbewusstsein, ein friedliches Miteinander, der sorgsame Umgang mit der
                Natur sowie der Verzicht auf Smartphone, Laptop und Co. – das Konzept Pfadfinden kann eine unglaubliche
                Bereicherung für Kinder und Jugendliche sein.</p>
            <p>Mit dem "PfadiTag" möchten der Verband Christlicher Pfadfinderinnen und Pfadfinder (VCP) und der Bund der
                Pfadfinderinnen und Pfadfinder (BdP) nun mehr Aufmerksamkeit erreichen. Schon im vergangenen Jahr haben
                bundesweit mehr als 70 Gruppen aus dem VCP am PfadiTag teilgenommen.</p>
            <p>Am Wochenende vom 19. bis 21. September 2025 geht es in die nächste Runde, diesmal mit allen Stämmen in
                Deutschland. Unter dem Motto „... auf ins Abenteuer!" organisieren die Gruppen individuelle Aktionen,
                von Geländespielen über Singerunden bis hin zum Ganztagesprogramm.</p>
            <p>Auf dieser Website sind alle Aktionen, die im Rahmen des PfadiTag 2025 stattfinden aufgezeigt. Zur
                Anmeldung bei einer Aktion gibt es Kontaktdaten direkt zu den Personen vor Ort.</p>
            <p>Schau dich um und komm vorbei!</p>
        </div>
        <div class="col-sm-4 float-end p-3">
            <h1 class="text-end">PfadiTag 2025</h1>
            <p class="text-end">Aktionen von Gruppen vor Ort in ganz Deutschland - komm vorbei!</p>
            <a class="btn btn-primary text-white float-end" href="#events">Aktion finden</a>
        </div>
    </div>
</div>

<div id="events" class="container p-3">
    <h1 class="pt-3">... auf ins Abenteuer! Aktionen in deiner Nähe</h1>
    <div id="map" class="my-3 vh-90"></div>
</div>

<div id="contact" class="container p-3">
    <div class="row align-items-center h-100">
        <div class="col-sm-4 p-3">
            <h1 class="">(Noch) keine Gruppe oder Aktion vor Ort?</h1>
            <p>Pfadfinden ist ein tolles Hobby für junge Menschen. Pfadfinden heißt Abenteuer, Freundschaft, Natur und 
                Entwicklung. Es fordert und fördert den ganzen Menschen. </p>
            <p>Wir suchen Menschen, die Lust haben, Pfadfinden für Kinder und Jugendliche erlebbar zu machen. 
                Das kannst auch du! Werde Möglichmacher*in!</p>
            <a class="btn btn-primary text-white" href="mailto:hallo@pfaditag.de?subject=M%C3%B6glichmacher*in%20werden&body=Hallo%20liebe%20Pfadis%2C%0D%0A%0D%0A">Kontaktiere uns</a>
        </div>
        <div class="col-sm-8 p-3 float-end">
                <div class="container ratio ratio-16x9">
                    <iframe src="https://www.youtube-nocookie.com/embed/ITefqLeptrQ" title="Werde Möglichmacher*in"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
            </div>
    </div>
</div>
{% endblock %}

{% block closer %}
<section class="colored-block py-3">
    <div class="container h-100" id="closer">
        <div class="row align-items-center h-100">
            <div class="col-sm mx-auto">
                <div class="container">
                    <h1>Noch Fragen?</h1>
                    <p class="text-center lead">... dann schreib uns!</p>
                </div>
            </div>
            <div class="col-sm mx-auto">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Hallo Liebe Pfadis, ..." disabled>
                    <div class="input-group-append">
                        <a class="btn btn-secondary"
                            href="mailto:hallo@pfaditag.de?subject=%5BPfadiTag%202025%5D%20Fragen&body=Hallo%20Liebe%20Pfadfinder%2C%0D%0A%0D%0A">E-Mail
                            schreiben</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var map = L.map('map');
    map.fitBounds([[54.83, 5.51], [47.29, 14.59]]);
    var locator = L.control.locate({ locateOptions: { maxZoom: 11 } }).addTo(map);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/light-v10',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiaG9lY2hzdCIsImEiOiJjazVueDhyMWkwenpuM2RydzltNjhraDAzIn0.HntghYG9IBZvVd0bUJEY9Q'
    }).addTo(map);

    var eventStyle = L.VectorMarkers.icon({ icon: 'circle', markerColor: 'var(--bs-primary)' });
    var oldEventStyle = L.VectorMarkers.icon({ icon: 'circle', markerColor: 'var(--bs-gray-500)' });
    var groupStyle = L.VectorMarkers.icon({ icon: 'circle', markerColor: 'var(--bs-secondary)' });

    // create marker for every event
    {% for event in events %}
    var marker_event_{{ event.id }} = L.marker([{{ event.lat }}, {{ event.lon }}], { icon: {{ "eventStyle" if event.is_current else "oldEventStyle" }} }).addTo(map);
    marker_event_{{ event.id }}.bindPopup(`
<h4>{{ event.title }}</h4>
<h6>{{ event.group }}</h6>
{% include 'event_details.j2' %}
`);
    {% endfor %}
</script>
{% endblock %}