{% extends "base.html" %}

{% block content %}
<h1>Übersicht Stämme</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Stamm</th>
            <th scope="col">Ort</th>
            <th scope="col">Land</th>
            <th scope="col">Website</th>
            <th scope="col">Optionen</th>
        </tr>
    </thead>
    <tbody>
        {% for group in current_user.query_groups() %}
        <tr>
            <th scope="row">{{ group.name }}</th>
            <td>{{ group.city }}</td>
            <td>{{ group.land.name }}</td>
            <td><a href="{{ group.website if group.website }}" target="_blank">{{ group.website if group.website }}</a></td>
            <td><a href="{{ url_for('admin.groups_edit', _id=group.id) }}"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
        </tr>
        {% endfor %}
        {% if current_user.is_superuser or current_user.is_manager_land %}
        <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="{{ url_for('admin.groups_edit', _id='new') }}"><i class="fa-solid fa-plus"></i></a></td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
